lib/assets/Vedascore-individual-enquiries-request-version-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by nancy (private) -->
<!-- ? Copyright Equifax Advantage Information Services and Solutions Ltd 2007 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="family-name" type="xs:string"/>
	<xs:element name="first-given-name" type="xs:string"/>
	<xs:element name="other-given-name" type="xs:string"/>
	<xs:complexType name="individual-nameType">
		<xs:sequence>
			<xs:element ref="family-name"/>
			<xs:element ref="first-given-name"/>
			<xs:element ref="other-given-name" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:attributeGroup name="countryCodes">
		<xs:attribute name="country-code" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="AU"/>
					<xs:enumeration value="NZ"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="countryCodesRequired">
		<xs:attribute name="country-code" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="AU"/>
					<xs:enumeration value="NZ"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="countryCodesEmpty">
		<xs:attribute name="country-code" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:element name="drivers-licence-number">
		<xs:annotation>
			<xs:documentation>{country-code} optional AU or NZ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="countryCodes"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="state" type="xs:string"/>
	<xs:complexType name="addressType">
		<xs:sequence>
			<xs:element ref="unit-number" minOccurs="0"/>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="street-number"/>
					<xs:element ref="property" minOccurs="0"/>
					<xs:element ref="street-name"/>
					<xs:element name="street-type" type="street-typeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Street Type code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="property"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="street-name"/>
						<xs:element name="street-type" type="street-typeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Street Type code</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:sequence>
			</xs:choice>
			
			<xs:choice>
				<xs:sequence>
					<xs:element ref="suburb"/>
					<xs:element ref="state"/>
				</xs:sequence>
			<!--	<xs:sequence>
					<xs:element ref="suburb" minOccurs="0"/>
					<xs:element ref="city"/>
				</xs:sequence>-->
			</xs:choice>
		    
			<xs:element ref="postcode" minOccurs="0"/>
			<xs:element name="country" type="countryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Country</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="street-typeType">
		<xs:attribute name="code" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="countryType">
		<xs:annotation>
			<xs:documentation>Country code</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="countryCodesRequired"/>
	</xs:complexType>
	<xs:element name="city" type="xs:string">
		<xs:annotation>
			<xs:documentation>City</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="postcode" type="xs:string">
		<xs:annotation>
			<xs:documentation>Postcode</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="property" type="xs:string">
		<xs:annotation>
			<xs:documentation>Property Name</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="street-name" type="xs:string">
		<xs:annotation>
			<xs:documentation>Street Name</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="street-number" type="xs:string">
		<xs:annotation>
			<xs:documentation>House Number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="suburb" type="xs:string">
		<xs:annotation>
			<xs:documentation>Suburb</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="unit-number" type="xs:string">
		<xs:annotation>
			<xs:documentation>Unit or Flat Number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:attributeGroup name="address-individual-indicators">
		<xs:annotation>
			<xs:documentation>Individual types</xs:documentation>
		</xs:annotation>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="residential-current"/>
					<xs:enumeration value="residential-previous"/>
					<xs:enumeration value="postal"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="address-individual-indicators-response">
		<xs:annotation>
			<xs:documentation>Individual types - response</xs:documentation>
		</xs:annotation>
		<xs:attribute name="type" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="residential-current"/>
					<xs:enumeration value="residential-previous"/>
					<xs:enumeration value="postal"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="address-create-date">
		<xs:annotation>
			<xs:documentation>used with Individual response</xs:documentation>
		</xs:annotation>
		<xs:attribute name="create-date" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="address-legal-entity-indicators">
		<xs:annotation>
			<xs:documentation>legal entity  types</xs:documentation>
		</xs:annotation>
		<xs:attribute name="type" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="registered-office"/>
					<xs:enumeration value="trading-address"/>
					<xs:enumeration value="principal-place-of-business"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="address-first-reported-date">
		<xs:annotation>
			<xs:documentation>used with trading address response</xs:documentation>
		</xs:annotation>
		<xs:attribute name="first-reported-date" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="address-legal-entity-request-indicators">
		<xs:annotation>
			<xs:documentation>trading address only</xs:documentation>
		</xs:annotation>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="trading-address"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="individualType">
		<xs:sequence>
			<xs:element name="individual-name" type="individual-nameType"/>
			<xs:element name="employment" type="employmentType" minOccurs="0"/>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="address">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="addressType">
								<xs:attributeGroup ref="address-individual-indicators"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="unformatted-address">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attributeGroup ref="address-individual-indicators"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element ref="drivers-licence-number" minOccurs="0"/>
			<xs:element ref="gender"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="gender">
		<xs:complexType>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="male"/>
						<xs:enumeration value="female"/>
						<xs:enumeration value="unknown"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="employmentType">
		<xs:sequence>
			<xs:element name="employer" type="xs:string"/>
			<xs:element name="occupation" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="countryCodes"/>
	</xs:complexType>
	<xs:element name="date-of-birth" type="xs:string"/>
	<xs:complexType name="individual-detailsType">
		<xs:complexContent>
			<xs:extension base="individualType">
				<xs:sequence>
					<xs:element ref="date-of-birth" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="subscriber-detailsType">
		<xs:sequence>
			<xs:element ref="subscriber-identifier"/>
			<xs:element ref="security"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="security" type="xs:string"/>
	<xs:element name="subscriber-identifier" type="xs:string"/>
	<xs:attributeGroup name="consumerRoleCodes">
		<xs:attribute name="role" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="principal"/>
					<xs:enumeration value="co-borrower"/>
					<xs:enumeration value="joint"/>
					<xs:enumeration value="guarantor"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="commercialRoleCodes">
		<xs:attribute name="role" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="principal"/>
					<xs:enumeration value="co-borrower"/>
					<xs:enumeration value="joint"/>
					<xs:enumeration value="guarantor"/>
					<xs:enumeration value="director"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="relationshipCodes">
		<xs:attribute name="type" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="insured"/>
					<xs:enumeration value="co-insured"/>
					<xs:enumeration value="driver"/>
					<xs:enumeration value="insurable-interest"/>
					<xs:enumeration value="third-party-claimant"/>
					<xs:enumeration value="witness"/>
					<xs:enumeration value="claimant"/>
					<xs:enumeration value="defendant"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="consumerRoleTypeCodes">
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="principal"/>
					<xs:enumeration value="co-borrower"/>
					<xs:enumeration value="joint"/>
					<xs:enumeration value="guarantor"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="consumerRoleTypeCodes-response">
		<xs:attribute name="type" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="principal"/>
					<xs:enumeration value="co-borrower"/>
					<xs:enumeration value="joint"/>
					<xs:enumeration value="guarantor"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="commercialRoleTypeCodes">
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="principal"/>
					<xs:enumeration value="co-borrower"/>
					<xs:enumeration value="joint"/>
					<xs:enumeration value="guarantor"/>
					<xs:enumeration value="director"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="commercialRoleTypeCodes-response">
		<xs:attribute name="type" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="principal"/>
					<xs:enumeration value="co-borrower"/>
					<xs:enumeration value="joint"/>
					<xs:enumeration value="guarantor"/>
					<xs:enumeration value="director"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="relationshipTypeCodes">
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="insured"/>
					<xs:enumeration value="co-insured"/>
					<xs:enumeration value="driver"/>
					<xs:enumeration value="insurable-interest"/>
					<xs:enumeration value="third-party-claimant"/>
					<xs:enumeration value="witness"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="consumerAccountTypeCodes">
		<xs:attribute name="code" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="CC"/>
					<xs:enumeration value="CH"/>
					<xs:enumeration value="CM"/>
					<xs:enumeration value="DB"/>
					<xs:enumeration value="LC"/>
					<xs:enumeration value="OD"/>
					<xs:enumeration value="R"/>
					<xs:enumeration value="RM"/>
					<xs:enumeration value="T"/>
					<xs:enumeration value="TC"/>
					<xs:enumeration value="UA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="consumerAccountTypeCodes-response">
		<xs:attribute name="code" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="CC"/>
					<xs:enumeration value="CH"/>
					<xs:enumeration value="CM"/>
					<xs:enumeration value="DB"/>
					<xs:enumeration value="LC"/>
					<xs:enumeration value="OD"/>
					<xs:enumeration value="R"/>
					<xs:enumeration value="RM"/>
					<xs:enumeration value="T"/>
					<xs:enumeration value="TC"/>
					<xs:enumeration value="UA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="commercialAccountTypeCodes">
		<xs:attribute name="code" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="BF"/>
					<xs:enumeration value="BS"/>
					<xs:enumeration value="CD"/>
					<xs:enumeration value="CH"/>
					<xs:enumeration value="CP"/>
					<xs:enumeration value="CR"/>
					<xs:enumeration value="D"/>
					<xs:enumeration value="DB"/>
					<xs:enumeration value="F"/>
					<xs:enumeration value="HC"/>
					<xs:enumeration value="L"/>
					<xs:enumeration value="LP"/>
					<xs:enumeration value="OD"/>
					<xs:enumeration value="PF"/>
					<xs:enumeration value="PL"/>
					<xs:enumeration value="RM"/>
					<xs:enumeration value="SR"/>
					<xs:enumeration value="TC"/>
					<xs:enumeration value="TF"/>
					<xs:enumeration value="UA"/>
					<xs:enumeration value="WF"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="30"/>
					<xs:enumeration value="60"/>
					<xs:enumeration value="90"/>
					<xs:enumeration value="DA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="commercialAccountTypeCodes-response">
		<xs:attribute name="code" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="BF"/>
					<xs:enumeration value="BS"/>
					<xs:enumeration value="CD"/>
					<xs:enumeration value="CH"/>
					<xs:enumeration value="CP"/>
					<xs:enumeration value="CR"/>
					<xs:enumeration value="D"/>
					<xs:enumeration value="DB"/>
					<xs:enumeration value="F"/>
					<xs:enumeration value="HC"/>
					<xs:enumeration value="L"/>
					<xs:enumeration value="LP"/>
					<xs:enumeration value="OD"/>
					<xs:enumeration value="PF"/>
					<xs:enumeration value="PL"/>
					<xs:enumeration value="RM"/>
					<xs:enumeration value="SR"/>
					<xs:enumeration value="TC"/>
					<xs:enumeration value="TF"/>
					<xs:enumeration value="UA"/>
					<xs:enumeration value="WF"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="30"/>
					<xs:enumeration value="60"/>
					<xs:enumeration value="90"/>
					<xs:enumeration value="DA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="allAccountTypeCodes">
		<xs:attribute name="code" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="BF"/>
					<xs:enumeration value="BS"/>
					<xs:enumeration value="CC"/>
					<xs:enumeration value="CD"/>
					<xs:enumeration value="CH"/>
					<xs:enumeration value="CM"/>
					<xs:enumeration value="CP"/>
					<xs:enumeration value="CR"/>
					<xs:enumeration value="D"/>
					<xs:enumeration value="DA"/>
					<xs:enumeration value="DB"/>
					<xs:enumeration value="F"/>
					<xs:enumeration value="HC"/>
					<xs:enumeration value="L"/>
					<xs:enumeration value="LC"/>
					<xs:enumeration value="LP"/>
					<xs:enumeration value="OD"/>
					<xs:enumeration value="PF"/>
					<xs:enumeration value="PL"/>
					<xs:enumeration value="RM"/>
					<xs:enumeration value="R"/>
					<xs:enumeration value="SR"/>
					<xs:enumeration value="T"/>
					<xs:enumeration value="TC"/>
					<xs:enumeration value="TF"/>
					<xs:enumeration value="UA"/>
					<xs:enumeration value="WF"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="30"/>
					<xs:enumeration value="60"/>
					<xs:enumeration value="90"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="allAccountTypeCodes-response">
		<xs:attribute name="code" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="BF"/>
					<xs:enumeration value="BS"/>
					<xs:enumeration value="CC"/>
					<xs:enumeration value="CD"/>
					<xs:enumeration value="CH"/>
					<xs:enumeration value="CM"/>
					<xs:enumeration value="CP"/>
					<xs:enumeration value="CR"/>
					<xs:enumeration value="D"/>
					<xs:enumeration value="DA"/>
					<xs:enumeration value="DB"/>
					<xs:enumeration value="F"/>
					<xs:enumeration value="HC"/>
					<xs:enumeration value="L"/>
					<xs:enumeration value="LC"/>
					<xs:enumeration value="LP"/>
					<xs:enumeration value="OD"/>
					<xs:enumeration value="PF"/>
					<xs:enumeration value="PL"/>
					<xs:enumeration value="RM"/>
					<xs:enumeration value="R"/>
					<xs:enumeration value="SR"/>
					<xs:enumeration value="T"/>
					<xs:enumeration value="TC"/>
					<xs:enumeration value="TF"/>
					<xs:enumeration value="UA"/>
					<xs:enumeration value="WF"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="30"/>
					<xs:enumeration value="60"/>
					<xs:enumeration value="90"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="currency-codeType">
		<xs:attribute name="currency-code">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="AUD"/>
					<xs:enumeration value="NZD"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="enquiry-amount">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="currency-codeType"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="co-borrower" type="xs:string"/>
	<xs:element name="client-reference" type="xs:string"/>
	<xs:complexType name="BCAservice-dataType"/>
	<xs:complexType name="BCAmessageType">
		<xs:sequence>
			<xs:element name="BCAaccess">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BCAaccess-code" type="xs:string"/>
						<xs:element name="BCAaccess-pwd" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BCAservice">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BCAservice-client-ref" type="xs:string"/>
						<xs:element name="BCAservice-code" type="xs:string"/>
						<xs:element name="BCAservice-code-version" type="xs:string"/>
						<xs:element name="BCAservice-data">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="BCAservice-dataType">
										<xs:sequence>
											<xs:element ref="request"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="request"/>
					<xs:enumeration value="REQUEST"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="requestType">
		<xs:sequence>
			<xs:element name="subscriber-details" type="subscriber-detailsType"/>
			<xs:element name="product" type="productType"/>
			<xs:choice>
				<xs:element name="bureau-reference">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attributeGroup ref="commercialRoleCodes"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="individual">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="individual-detailsType">
								<xs:attributeGroup ref="commercialRoleCodes"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="enquiry" type="enquiryType"/>
		</xs:sequence>
		<xs:attribute name="version" type="xs:string" fixed="1.0"/>
		<xs:attribute name="mode" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="test"/>
					<xs:enumeration value="production"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="transaction-reference" type="xs:string"/>
		<xs:anyAttribute processContents="skip">
			<xs:annotation>
				<xs:documentation>for internal use only</xs:documentation>
			</xs:annotation>
		</xs:anyAttribute>
	</xs:complexType>
	<xs:complexType name="productType">
		<xs:annotation>
			<xs:documentation>Defined locally in every product</xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="vedascore-financial-consumer-1.1"/>
					<xs:enumeration value="vedascore-financial-consumer-plus-commercial-1.1"/>
					<xs:enumeration value="vedascore-telco-consumer-1.1"/>
					<xs:enumeration value="vedascore-telco-consumer-plus-commercial-1.1"/>
					<xs:enumeration value="vedascore-financial-commercial-1.1"/>
					<xs:enumeration value="vedascore-financial-commercial-plus-consumer-1.1"/>
					<xs:enumeration value="vedascore-telco-commercial-1.1"/>
					<xs:enumeration value="vedascore-telco-commercial-plus-consumer-1.1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="summary" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="yes"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="BCAmessage" type="BCAmessageType">
		<xs:annotation>
			<xs:documentation>Root Element.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="request" type="requestType">
		<xs:annotation>
			<xs:documentation>Request Root Element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="enquiryType">
		<xs:sequence>
			<xs:element name="account-type">
				<xs:complexType>
					<xs:attributeGroup ref="allAccountTypeCodes"/>
				</xs:complexType>
			</xs:element>
			<xs:element ref="enquiry-amount"/>
			<xs:element ref="co-borrower" minOccurs="0"/>
			<xs:element ref="client-reference" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="credit-application"/>
					<xs:enumeration value="credit-enquiry"/>
					<xs:enumeration value="credit-review"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
